.notification-default {
  background: #1e1e2e;
  border: 2px solid #e69934;
  border-radius: 8px;
  padding: 10px;
}

/* The timer bar at the bottom */
.body {
  color: #cdd6f4;
}

/* This targets the progress bar/timer specifically */
progressbar, progress, trough {
  min-height: 4px;
  background-color: #505050; /* Niri Inactive Gray */
  border-radius: 4px;
}

progressbar highlight, progress highlight {
  background-color: #e69934; /* Niri Active Orange */
}