.notification {
    border: 2px solid #e69934ff;
    background: rgb(44, 41, 41);
    border-radius: 0px;
    margin: 4px;
}

.notification-content {
    color: #ffffff;
    padding: 10px;
}

progressbar, progress {
    min-height: 4px;
    background-color: #505050;
}

trough highlight {
    background-color: #e69934ff;
}

.control-center {
    background: rgb(44, 41, 41);
    border: 2px solid #e69934ff;
    color: #ffffff;
}