* {
    font-family: "Inter", "JetBrainsMono Nerd Font", sans-serif;
    font-size: 14px;
    color: #ffffff;
}

/* Main window */
window {
    margin: 0px;
    padding: 10px;
    border-radius: 1px;
    background-color: rgba(44,41,41,.8);
    border: 8px solid #e69934ff;
}

/* Search box */
#input {
    margin: 8px;
    padding: 10px;
    border-radius: 1px;
    border: none;
    background-color: rgba(44,41,41,.8);
    color: #ffffff;
    caret-color: #e69934ff;
}

/* Results container */
#inner-box {
    margin: 5px;
    background-color: rgba(44,41,41,.8);
}

/* App entries */
#entry {
    padding: 10px;
    border-radius: 1px;
    background-color: rgba(44,41,41,.8);
    color: #ffffff;
}

/* Highlighted entry */
#entry:selected {
    background-color: rgba(44,41,41,.8);
    color: #e69934ff;
    font-weight: bold;
}

/* Text & icons */
#text {
    margin-left: 10px;
    color: inherit;
}

#img {
    margin-right: 8px;
}
