* {
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-size: 14px;
    color: #ffffff;
}

window {
    background-color: rgba(44, 41, 41, 0.95);
    border: 2px solid #e69934;
    border-radius: 0px;
}

#input:empty {
    margin: 0;
    border: none;
    padding: 0;
}

#inner-box {
    margin: 10px;
}

#entry {
    padding: 10px;
    border: 2px solid transparent; 
}

#entry:selected {
    background-color: transparent;
    border: 1px solid #e69934;
    border-radius: 0px;
}

#text {
    margin: auto;
    text-align: center;
}

#text:selected {
    color: #ffffff;
    font-weight: bold;
}