* {
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-size: 14px;
    color: #ffffff;
}

window {
    background-color: rgba(44, 41, 41, 0.95);
    border: 2px solid #e69934;
    border-radius: 0px;
}

#input {
    margin: 10px;
    border: 1px solid #e69934;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    padding: 5px;
    text-align: center;
}

#inner-box {
    margin: 10px;
}

#entry {
    padding: 10px;
    border: 0px solid transparent; 
}

#entry:selected {
    background-color: transparent;
    border: 0px solid #e69934;
    border-radius: -1px;
}

#text {
    margin: auto;
    text-align: center;
}

#text:selected {
    color: #ffffff;
    font-weight: bold;
}