window {
    margin: 0px;
    border: 2px solid #4a4a4a;
    background-color: #2c2929;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 18px;
    border-radius: 8px;
}

#outer-box {
    margin: 10px;
    background-color: transparent;
}

#entry {
    padding: 12px;
    color: #ffffff;
}

#entry:selected {
    background-color: #4a4a4a;
    border-radius: 5px;
}

#text {
    margin: 5px;
}

/* Hides the search box background */
#input {
    background-color: transparent;
    border: none;
    color: transparent;
}